<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pagos">
    
    <select id="obtenerPagos" resultType="pojo.Pago">
        SELECT idPago, DATE_FORMAT(fechaPago,'%d/%m%Y') AS fechaPago, c.idCliente, monto, p.idTipoPago, p.descuento, 
        CONCAT(c.nombre,' ', c.apellidoPaterno, ' ', c.apellidoMaterno) AS cliente,
        t.pago AS tipoPago, CONCAT(t.descuento,'%') AS porcentajeDescuento 
        FROM pago p 
        INNER JOIN cliente c 
        ON c.idCliente= p.idCliente 
        INNER JOIN tipoPago t 
        ON t.idTipoPago = p.idTipoPago;
    </select>
    
    <select id="obtenerPorClientes" resultType="pojo.Pago" parameterType="int">
        SELECT idPago, DATE_FORMAT(fechaPago,'%d/%m%Y') AS fechaPago, c.idCliente, monto, p.idTipoPago, p.descuento, 
        CONCAT(c.nombre,' ', c.apellidoPaterno, ' ', c.apellidoMaterno) AS cliente,
        t.pago AS tipoPago, CONCAT(t.descuento,'%') AS porcentajeDescuento 
        FROM pago p 
        INNER JOIN cliente c 
        ON c.idCliente= p.idCliente 
        INNER JOIN tipoPago t 
        ON t.idTipoPago = p.idTipoPago
        WHERE p.idCliente = #{idCliente};
    </select>
   

</mapper>